body{
    position: relative;
    background-image: url("https://wallpaperaccess.com/full/1267556.jpg");
}
.navitem{
  height:8%;
  size:8%;
  text-decoration:none;
  color:	#34d6c0;
  font-weight:3px;
}
.navitem:hover{
  height:8%;
  size:8%;
  text-decoration:none;
  color:		#5078ab;
  font-weight:3px;
}
.naavbar {
    flex-shrink: 0;
    height:'10%';
    text-align: center;
    background-color:#353248;
    color:	#34d6c0;
    position:absolute;
    left:0;
    top:0;
    right:0;
    position:fixed;
    display:block;
    z-index: 10;
    border-bottom: 3px solid black;
  }

  .center {
    text-align: center;
    position: fixed;
    z-index: 7;
    width:100%;
    background-color: #010203;
  }

.footer {
    flex-shrink: 0;
    text-align: center;
    background-color:black;
    color:cyan;
    position:absolute;
    left:0;
    bottom:0;
    right:0;
    position:fixed;
  }

.searchbutton{
    color:white;
    background-color: rgb(0, 0, 0);
    border-color: black;
    border: black;
    border-radius: 20px;
    font-weight: 900;
    height:40px;
    width:15%;
    font-size: 20px;
    text-align: center;
}
.searchbutton:hover{
    
    color:black;
    background-color: cyan;
    border-radius: 20px;
    border-color: black;
    border: black;
    font-weight: 900;
    font-size: 20px;
    text-align: center;
}
.countrybutton{
  color:white;
  background-color: rgb(0, 0, 0);
  border-color: black;
  border: black;
  font-weight: 900;
  height:40px;
  width:30%;
  font-size: 20px;
  text-align: center;
}

.countrybutton:hover{
  color:black;
  background-color: cyan;
  border-color: black;
  border: black;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
}


.btn-excel {
  background-color: #32CD32; /*lime green*/
  color: #fff;
  outline: none;
  border-radius: 0.3rem;
  text-decoration: none;
  width: 5rem;
  height: 2.5rem;
  /* Flex rules 'em all */
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-excel:hover {
  background-color: #808000; /*olive*/
  cursor: pointer;
  text-decoration: none;
}

.mainsearch{
    padding:'10px';
    background-color: white;
    display:"flex";
    display: block;
    flex-direction:"row";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: capitalize;
    width: 100%;
    position: fixed;
    align-content: center;
    justify-content: center;

}
.searchbar{
    float: left;
    width: 60%;    
    padding-left: 0.5% ;
    padding-right: 0.5% ;
}

ul{
  text-decoration: none;
  list-style: none;
}
li{
  font-size: large;
  display: flex;
  justify-content: center;
  align-items: center
}

a{
  text-decoration: none;
  color:goldenrod;  
  font-size: xx-large;
}
a:hover{
  color:brown;
  text-decoration: none;
}


hr{
	height: 10px;
	border: 0;
	box-shadow: 0 10px 10px -10px #8c8b8b inset;
}

h2{
  display: flex;
  justify-content: center;
  align-items: center
}
h3{
  display: flex;
  justify-content: center;
  align-items: center
}